@model List<CustomerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers List</h1>

<a class="btn btn-primary" role="button" asp-controller="Customer" asp-action="add">Add</a>
<table class="table table-bordered table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.name
            </td>
            <td>
                @item.email
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @item.address
            </td>
             <td><a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.id">Edit</a></td>
            <td><a asp-controller="Customer" asp-action="Remove" asp-route-id="@item.id">Remove</a></td>
            <td><a asp-controller="Customer" asp-action="GetById" asp-route-id="@item.id">Details</a></td>
        </tr>
    }
</table>
